<%= form_for @book, url: books_path, html: { multipart: true } do |f| %>
  <%= f.hidden_field :authenticity_token, value: form_authenticity_token %>

  <% if @book.errors.any? %>
    <div id="error_explanation" class="notification is-danger">
      <h4 class="title is-4">O formulário contém <%= pluralize(@book.errors.count, "erro") %>:</h4>
      <ul>
        <% @book.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title, 'Título', class: "label" %>
    <div class="control">
      <%= f.text_field :title, class: "input", placeholder: "Memórias Póstumas" %>
    </div>
  </div>

  <div class="field">
    <%= f.label :author, 'Autor', class: "label" %>
    <div class="control">
      <%= f.text_field :author, class: "input", placeholder: "Machado de Assis" %>
    </div>
  </div>

  <div class="field">
    <%= f.label :category, 'Categoria', class: "label" %>
    <div class="control">
      <%= f.text_field :category, class: "input", placeholder: "Drama" %>
    </div>
  </div>

  <div class="field">
    <%= f.label :isbn, 'ISBN', class: "label" %>
    <div class="control">
      <%= f.text_field :isbn, class: "input", placeholder: "9780333791035" %>
    </div>
  </div>

  <div class="field">
    <%= f.label :publisher, 'Editora', class: "label" %>
    <div class="control">
      <%= f.text_field :publisher, class: "input", placeholder: "Editora Arqueiro" %>
    </div>
  </div>

  <div class="field">
    <%= f.label :publication_date, 'Data de publicação', class: "label" %>
    <div class="control">
      <%= f.date_field :publication_date, class: "input" %>
    </div>
  </div>

  <div class="field">
    <%= f.label :language, 'Lingua', class: "label" %>
    <div class="control">
      <%= f.text_field :language, class: "input", placeholder: "Português" %>
    </div>
  </div>

  <div class="mb-2">
    <%= f.label :cover, 'Capa', class: "label" %>
    <div class="field file has-name" data-controller="file-input">
      <label class="file-label control">
        <%= f.file_field :cover, class: "file-input", id: "book_cover", "data-file-input-target" => "input" %>
        <span class="file-cta">
          <span class="file-label">Escolha uma imagem…</span>
        </span>
        <span class="file-name" data-file-input-target="fileName">No file uploaded</span>
      </label>
    </div>
  </div>

  <div class="field">
    <%= f.label :description, 'Descrição', class: "label" %>
    <div class="control">
      <%= f.text_area :description, class: "textarea", placeholder: "Guarda-roupas mágicos, anéis que levam para outros mundos..." %>
    </div>
  </div>

  <%= f.submit "Adicionar Livro", class: "button is-primary", "data-disable-with" => "Adicionar Livro" %>
<% end %>
