<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Alexandria - Biblioteca pessoal de um maluco digital</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag asset_path('alexandria.ico') %>
  </head>

  <body>
    <%= render "layouts/navbar" %>
  
    <div class="container is-widescreen">
      <% if notice %>
        <div class="notification is-primary">
          <%= notice %>
        </div>
      <% elsif alert %>
        <div class="notification is-danger">
          <%= alert %>
        </div>
      <% end %>
    </div>

    <main class="container is-widescreen p-3">
      <%= yield %>
    </main>
  </body>
</html>
